<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <h4 id="title">EduExplorer</h4>
        <button
          id="checkbox-btn"
          class="rounded"
          v-on:click="toggleCheckOut"
          v-if="!displayCheckOut"
        >
          {{cartItemCount}} Checkout
        </button>
        <button
          id="back-btn"
          class="rounded"
          v-on:click="toggleCheckOut"
          v-if="displayCheckOut"
        >
          Back
        </button>
      </nav>
      <div id="main-container" v-if="!displayCheckOut">
        <div id="welcome-section">
          <h1 id="welcome-headline">EduExplorer</h1>
          <p>
            "your one-stop hub for discovering and booking after-school classes
            and activities that inspire<br />growth, learning, and fun!"
          </p>
          <button id="explore-btn" class="rounded" v-on:click="scrollToCourse">
            Explore
          </button>
        </div>
        <div id="course-section">
          <h3 id="course-headline">Our Course & Activities</h3>
          <div id="options-row">
            <div class="flex-row">
              <p>Filter by</p>
              <select
                class="squared"
                v-model="searchFilter"
                v-on:change=" sortCourses"
              >
                <option value="subject">Subject</option>
                <option value="location">Location</option>
                <option value="price">Price</option>
                <option value="spaces">Space</option>
              </select>
            </div>
            <div class="flex-row">
              <p>Sort by</p>
              <button class="squared" v-on:click="sortCourses">
                Ascending
              </button>
              <button class="squared" v-on:click="sortDescending">
                Descending
              </button>
            </div>
            <div class="flex-row">
              <p>Search</p>
              <input
                id="search-input"
                type="text"
                placeholder="Search"
                v-model="search"
              />
            </div>
          </div>
          <div class="grid">
            <div
              class="grid-item"
              v-for="course in filteredCourses"
              :key="course._id"
            >
              <div id="col_1">
                <img class="img-container" v-bind:src="course.img" alt="icon" />
                <div>
                  <button
                    id="add-btn"
                    class="squared"
                    v-on:click="addToCart(course)"
                    v-bind:disabled="course.spaces <= 0"
                  >
                    Add To Cart
                  </button>
                </div>
              </div>
              <div>
                <p>Subject: {{course.subject}}</p>
                <p>Location: {{course.location}}</p>
                <p>Price: £{{course.price}}</p>
                <p>Spaces: {{course.spaces}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="checkout-container" v-show="displayCheckOut">
        <h1>Checkout</h1>
        <div>
          <input
            class="checkout-input"
            id="name-input"
            type="text"
            placeholder="Name"
            v-model="name"
          />
          <input
            class="checkout-input"
            id="phone-number-input"
            type="number"
            placeholder="Phone Number"
            v-model="phoneNumber"
          />
        </div>
        <div>
          <button id="buy-btn" class="squared" v-on:click="placeOrder">
            Buy
          </button>
        </div>
        <h3>Items</h3>
        <p v-if="cartItemCount == 0">No Items Bought</p>
        <div class="extend" v-if="cartItemCount == 0"></div>
        <div v-else class="grid">
          <div class="grid-item" v-for="item in cart" :key="item._id">
            <div id="col_1">
              <img class="img-container" v-bind:src="item.img" alt="icon" />
              <div>
                <button
                  id="remove-btn"
                  class="squared"
                  v-on:click="removeItem(item)"
                >
                  Remove
                </button>
              </div>
            </div>
            <div>
              <p>Subject: {{item.subject}}</p>
              <p>Location: {{item.location}}</p>
              <p>Price: £{{item.price}}</p>
              <p>Amount of Seat: {{item.numberOfSeat}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
